.bc{
    opacity: 0;
    transform: translateY(50px); /* Start the text 50px below its normal position */
    animation: slideUp 2s ease forwards; /* Use keyframe animation */
    width: 100%;
    object-fit: cover;
    filter: blur(8px);
}

.window{
    display: flex;
    border: 5px solid;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    height: 75%;
    width: 75%;
}

.text{
    margin-left: 10px;
    font-family: 'Segoe UI';
    color: black;
    opacity: 0;
    transform: translateY(50px); /* Start the text 50px below its normal position */
    animation: slideUp 1s ease forwards; /* Use keyframe animation */
}

.nm{
    color: rgb(55, 114, 255);
}

.discord{
    opacity: 0;
    transform: translateY(50px); /* Start the text 50px below its normal position */
    animation: slideUp 1s ease forwards; /* Use keyframe animation */
    height: 40px;
    position: fixed;
    bottom: 0px;
}

.rside{
    flex: 1;
    flex-direction: column;
    display: flex;
}

.lside{
    flex: 1;
    flex-direction: column;
    background-color: brown;
    border-radius: 5px;
}

.u{
    flex: 1;
}

.l{
    flex: 5;
}


.butta{
    opacity: 0;
    transform: translateY(50px); /* Start the text 50px below its normal position */
    animation: slideUp 1s ease forwards; /* Use keyframe animation */
    background-color: greenyellow;
    border: 0;
    border-radius: 5px;
    height: 5%;
    width: 15%;
    font-family: "Segoe UI";
    transition: background-color 0.5s;
}

.butta:hover{
    background-color: rgb(98, 139, 37);
}

.butta:focus:active{
    background-color: rgb(111, 156, 42);
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* Start the text 50px below its normal position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move the text to its normal position */
    }
}